In [1]:
import pandas as pd

In [26]:
data = pd.read_excel(r'data/MŠ_2014_součásti_kapacity_děti_ČRozhlas.xlsx')

In [27]:
data.head()

,IZONEW,ROK,zruš,RED_IZO,ZRIZ,ULICE,PSČ,MÍSTO,KRAJ,OKRES,CILKAPA,počet dětí celkem,naplněnost,počet dětí v běžných třídách,počet dětí ve speciálních třídách,spec_škola
0,88251,2014,N,600024474,7,9. května 531,57101,Moravská Třebová,CZ053,CZ0533,30,14,0.466667,0,14,A
1,391247,2014,N,600023401,7,E.Krásnohorské 921,46001,Liberec,CZ051,CZ0513,24,24,1.000000,0,24,A
2,498653,2014,N,600042375,2,Pod Homolkou 1601,26601,Beroun,CZ020,CZ0202,165,165,1.000000,165,0,N
3,567043,2014,N,600025501,7,Školní 3208,69701,Kyjov,CZ064,CZ0645,16,7,0.437500,0,7,A
4,582573,2014,N,600000524,6,Příběnická 1435,39001,Tábor,CZ031,CZ0317,84,86,1.023810,86,0,N

In [68]:
naplnenost = pd.DataFrame(data.groupby('MÍSTO')['naplněnost'].mean()).reset_index()
pocty = pd.DataFrame(data['MÍSTO'].value_counts()).reset_index()

In [79]:
naplnenost.merge(pocty, left_on='MÍSTO', right_on='index').sort([0,'naplněnost'], ascending=False).to_excel(r'data/naplnenost.xlsx')

In [80]:
data[data['naplněnost'] > 1].to_excel(r'data/preplnene.xlsx')

In [77]:
len(data[data['MÍSTO'] == 'Ostrava'])

15